body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.navbar {
    background-color: #9b006d;
    /* Color vino */
    color: white;
    /* Texto blanco para contrastar */
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    width: calc(100% - 110px);
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #890059;
    /* Botón color vino */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5e0017;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    margin-top: 15px;
    padding: 12px;
    background-color: #f4f4f4;
    border-radius: 4px;
    border-left: 5px solid #800020;
    /* Borde izquierdo color vino para las tareas */
}